table {
    width: 100%;  
}

td, th{
    width: 15%;
}

/* Structure */
table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .white-icon {
    color: white;
}

.search{
    cursor: pointer;
}

.edit{
    cursor: pointer;
    color: #1878b0;
}

.delete
{
    cursor: pointer;
    color: #e15639;
}

.agregar{
    font-size: 10px;
    line-height: 28px;
}

