<div class="title">
    <h1>Agregar Mascota</h1>
</div>

<app-spinner *ngIf="loading"></app-spinner>

<div class="container">
    <mat-card class="card">
        <mat-card-subtitle>
            Datos de la mascota
        </mat-card-subtitle>
        <form>
            <mat-grid-list cols="2" rowHeight="80px">
                <mat-grid-tile [colspan]="2">Nombre</mat-grid-tile>
                <mat-grid-tile>Raza</mat-grid-tile>
                <mat-grid-tile>Color</mat-grid-tile>
                <mat-grid-tile>Edad</mat-grid-tile>
                <mat-grid-tile>Peso</mat-grid-tile>
                <mat-grid-tile [colspan]="2">Aceptar y volver</mat-grid-tile>
              </mat-grid-list>              
        </form>
    </mat-card>
</div>